@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
  user-select: none;
}

@font-face {
  font-family: 'SF Sports Night';
  src: url('./assets/fonts/SF Sports Night.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Sports Night NS';
  src: url('./assets/fonts/SF Sports Night NS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;
      --primary: 216 73% 32%;
      --primary-foreground: 0 0% 100%;
      --secondary: 355 83% 51%;
      --secondary-foreground: 0 0% 100%;
      --muted: 0 0% 73%;
      --muted-foreground: 0 0% 30%;
      --accent: 355 83% 51%;
      --accent-foreground: 0 0% 100%;
      --destructive: 355 83% 51%;
      --destructive-foreground: 0 0% 100%;
      --border: 0 0% 85%;
      --input: 0 0% 90%;
      --ring: 216 73% 32%;
      --chart-1: 216 73% 32%;
      --chart-2: 355 83% 51%;
      --chart-3: 0 0% 73%;
      --chart-4: 216 73% 45%;
      --chart-5: 355 83% 65%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;
      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;
      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 216 73% 45%;
      --primary-foreground: 0 0% 100%;
      --secondary: 355 83% 51%;
      --secondary-foreground: 0 0% 100%;
      --muted: 0 0% 30%;
      --muted-foreground: 0 0% 73%;
      --accent: 355 83% 51%;
      --accent-foreground: 0 0% 100%;
      --destructive: 355 83% 51%;
      --destructive-foreground: 0 0% 100%;
      --border: 0 0% 25%;
      --input: 0 0% 20%;
      --ring: 216 73% 45%;
      --chart-1: 216 73% 45%;
      --chart-2: 355 83% 51%;
      --chart-3: 0 0% 30%;
      --chart-4: 216 73% 60%;
      --chart-5: 355 83% 65%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
